<div class="modal-video">
    <a href="#" class="modal-video__trigger">Open Video</a>
     
    <div class="modal-video__video">
        <a href="#" class="modal-video__close">x</a>
        <video class="modal-video-1" controls>
            <source src="{{path '/img/movie.mp4'}}" type="video/mp4">
        </video>
    </div>
</div>